/*Indeice*/
/* 1. Selectores universales */
/* 2. Header */
/* 3. Conteiners-cuerpo*/
/*    3.A. Index */
/*    3.B. Mangas */
/*    3.C. Backgrounds */
/*    3.D. Foros */
/* 4. Footer */
/* 5. Ventana Emergente*/


/*--- 1. Selectores universales ---*/

body{
  color:#75F900;
  background-image:url(../img/fondoestrellado.jpg);
}

a, a:visited{
    color:#75F900;
}

a:hover{
    color:#ff8900;
}

/*--- 2. Header ---*/

.navbar {
  background-image: url(../img/fondoestrellado.jpg);
  border: transparent;
  margin: 5% 0 15% 0;
}
.navbar-nav {
    border: 0;
    position: absolute;
    right: 0;
    margin: 55px 20px 0 0;
}
.navbar-default .navbar-nav li a {
  font-weight: 900;
  font-size: 25px;
  font-family: 'Coming Soon', cursive;
  color: #ff8900;
}
.navbar-default .navbar-link {
  color: #75F900;
  font-family: 'Permanent Marker', cursive;
  font-size: 7vw;
}

.navbar-default .navbar-link:hover, .navbar-default .navbar-nav li a:hover, .navbar-default div ul li a:active {
  color:#75F900 !important;
}

/*--- 3. Conteiners-cuerpo ---*/

/*---    3.A. Index ---*/

.cuerpo-index {
  text-align: center;
  margin-top: 20px;
}
.portada img {
  width: 159px;
  height: 289px;
  display: inline-block;
}
.name {
  font-weight: bolder;
  text-align: center;
}

/*---    3.B. Mangas ---*/

.media{
  zoom:1.3;
  margin-left: 5;
}
.media-object{
  width: 159px;
  height: 261px;
}
.texto-detalle{
    padding:8% 0 5% 0;
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
    color:#fff;
}

/*---    3.C. Backgrounds ---*/

.carousel-inner{
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;

}
.item .imagen{
  width: 426px;
  height: 688px;
}
/*---    3.D. Foros ---*/

.cuerpo-foros ul li a{
    font-family:'Permanent Marker', cursive;
    font-size: 2.5rem;
}
.cuerpo-foros ul li{
    display: block;
    margin:3px 0 3px 0;
}
/*--- 4. Footer ---*/

.row {
  margin-right: 15px;
  margin-left: 15px;
}
@media (min-width:992px) .col-md-4 {
  width: 33.33333333%;
  float: left;
}
@media (min-width:768px) .col-sm-6 {
  width: 70%;
  float: left;
}
footer {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family:'Coming Soon', cursive;
  padding: 55px 50px;
  margin-top: 80px;
  bottom: 0;
  color: #75F900;
  font-weight: bolder;
  text-align: center;

}
.footer-navigation a h3 {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 20px;
  color: #75f900;
  font-size: 35px;
}
.footer-navigation a {
  text-decoration: none;
  color: #fff;
}
.footer-navigation h3 span {
  color: #ff8900;
}
.footer-navigation p.links a {
  color: #fff;
  text-decoration: none;
}
.footer-navigation p.company-name {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
}
@media (max-width:767px) {
  .footer-contacts {
    margin: 30px 0;
  }
}
.footer-contacts p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
}
.footer-contacts p a {
  color: #5383d3;
  text-decoration: none;
}
.fa.footer-contacts-icon {
  background-color: #33383b;
  color: #fff;
  font-size: 18px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin: 10px 15px 10px 0;
}
span.new-line-span {
  display: block;
  font-weight: normal;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-about h4 {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.form-control, .btn-default{
  margin: 10px 0 10px 0;
}
div.social-links {
  margin-top:20px;
  color:#fff;
}
.social-links a {
  display:inline-block;
  cursor:pointer;
  border-radius:2px;
  color:#ff8900;
  text-align:center;
  line-height:1;
  margin-right:5px;
  margin-bottom:5px;
}
.social-links a:hover{
  color: #75f900;
}

/*--- 5. Ventana Emergente ---*/

@media (max-width:500px) {
    .portada-emergente{
        display: block;
    }
}

.contenido-emergente {
    background-image: url(../img/fondoestrellado.jpg);
    color:antiquewhite;
    font-family:'Coming Soon', cursive;
    font-weight: bold;

}

.boton-cerrar-emergente{
    color:aqua;
    font-size: 4rem;
}
